{% extends 'home.html' %}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container ">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ recipe.title }} {{ recipe.cooking_time }}</h3>
            <div class="row">
                <div class="col-lg-1 col-md-5 col-sm-6">
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-6">Ingredients</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">
                                <tbody>
                                    <tr>
                                        <td>
                                            {% for ingredient in ingredients %}
                                                <li>{{ ingredient.title }} {{ ingredient.amount }}</li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <h5 class="box-title mt-5">Cooking method</h5>
                    <ul class="list-unstyled">
                        <li>{{ recipe.cooking_method }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}